---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kwon.photos</title>
    <style>
   	body {
      background: #e8e8e8;
      padding: 0;
      margin: 0;
    }
    
    .container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 3rem 2rem;
    }
    
    .site-name {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      color: #333;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="site-name">kwon.photos</div>
        <p>hello my name is placeholder text</p>
    </div>
    <footer></footer>
</body>

</html>